//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  .section-banner {
    position: relative;

    padding-top: 247px;
    padding-bottom: 94px;

    text-align: center;

    background-image: url('../assets/images/banner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .desktop-gray-box {
      padding: 20px 35px 37px;
      margin-top: 156px;
      margin-left: 72px;
      max-width: 547px;

      text-align: left;

      background: linear-gradient(143deg, rgba(37, 46, 62, 0.59) 0%, rgba(36, 37, 45, 0.51) 61.5%, rgba(51, 41, 40, 0.75) 61.5%, rgba(37, 43, 58, 0.62) 37%, rgba(13, 17, 25, 0.55) 100%);

      h1 {
        margin-bottom: 10px;
        max-width: 500px;
      }

      p {
        margin-bottom: 20px;
        max-width: 400px;

        font-size: 16px;
      }

      .btn {
        padding: 11px 30px;
      }
    }

    .banner-swiper {
      height: 200px;
    }

    .banner-swiper-pagination {
      margin-left: 15px;
      width: auto;
    }

    .swiper-pagination-bullet-active {
      background: $white;
    }

    .swiper-pagination-bullet {
      background: #b8a0c0;
    }

    .banner-slide {
      background: $purple;

      h5 {
        margin-top: 10px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 6px;
      background: linear-gradient(to right, $yellow 0%, $yellow 50%, $purple 50%, $purple 100%);
    }
  }

  .section-features {
    padding: 80px 50px;

    .container-custom {
      padding-left: 37px;
      padding-right: 29px;
    }

    .img-feature {
      margin-bottom: 12px;
      height: 90px;
    }

    .swiper-slide {
      // flex: 0 0 25%;

      &:hover {
        .stat-feature,
        .dot {
          color: $yellow;

          transition: color .2s ease-in-out;
        }
      }
    }

    .dot {
      display: block;
      margin-top: 15px;
      margin-bottom: 10px;

      font-size: 9px;
      color: $purple;

      &:before {
        position: relative;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        top: 159px;
        z-index: 1;
        left: 0;
        right: 0;
        background: gray;
      }
    }

    .title-feature {
      font-size: 17px;
    }

    .feature-desc {
      margin-top: 10px;
      max-width: 76%;
    }
  }

  .section-about {
    margin-bottom: 49px;

    .about-heading {
      padding-top: 26px;
      max-width: 960px;
    }

    .swiper-holder {
      position: relative;
    }

    .swiper-wrapper {
      max-width: 1441px;
      margin: 0 auto;
    }

    .swiper-container {
      width: 100%;
      height: 400px;
    }

    .swiper-slide {
      background-repeat: no-repeat;
    }

    .swipe-about-title {
      position: absolute;
      left: 0px;
      top: 334px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 37%;

      background-size: 26px 34px;
    }
  }

  .section-conservation {
    padding-bottom: 135px;

    background-image: url('../assets/images/bg-explore-homepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .heading-wrapper {
      position: relative;
      top: -51px;
    }

    .wrapper {
      margin-top: 66px;
      margin-left: 12px;
      width: 1018px;
    }

    .gray-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 40px 39px 60px;
      
      background-image: url('../assets/images/bg-gray-container.png');
      background-repeat: no-repeat;
      background-size: cover;

      &>div {
        flex: 0 0 48%;
      }
    }

    .forms {
      margin-top: 60px;
    }
    
    .form-title {
      position: relative;

      &:after {
        content: '';

        position: absolute;
        top: 52px;
        left: 2px;
        right: 0;

        width: 927px;
        height: 8px;

        background: $yellow;
      }
    }

    .radios {
      position: relative;

      display: flex;
      justify-content: space-between;
      width: 97%;
      margin-bottom: 44px;


      &:before {
        content: '';

        position: absolute;
        top: 26px;

        width: 423px;
        height: 1px;
        background: #888;
      }
    }

    label {
      position: relative;

      margin-top: 45px;

      &:before {
        content: '';

        position: absolute;
        top: -26px;
        right: 0;

        width: 19px;
        height: 19px;

        background: #888;
        border-radius: 50%;
      }

      &:first-child:before {
        left: 0;
      }

      &:not(:first-child):not(:last-child) {
        left: 20px;
      }
    }

    .select-wrapper {
      position: relative;

      margin-bottom: 41px;
      width: 100%;

      &.mobile-select {
        display: none;
      }

      &:after {
        content: '\f107';

        position: relative;
        top: -2px;
        right: 30px;

        font-family: FontAwesome;
        font-size: 20px;
        color: white;

        pointer-events: none;
      }
    }

    select {
      padding-bottom: 10px;
      margin-top: 10px;
      width: 96%;

      background: transparent;
      border: none;
      border-bottom: 1px solid white;

      appearance: none;

      &:focus {
        outline: none;
      }
    }

    .toggle-wrapper {  
      display: flex;
      justify-content: space-between;  
      flex-wrap: wrap;
      margin-top: 20px;
      width: 98%;
    }

    .form-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .map {
      flex: 0 0 65%;
      margin-top: 87px;
      margin-left: 10px;
    }

    .links {
      flex: 0 0 25%;
      margin-top: 96px;
      margin-left: 6px;
    }

    .img-guide {
      display: block;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
    }

    .guide-links {
      display: block;
      margin-bottom: 23px;

      font-size: 12px;
      text-align: center;
    }

  }

  .section-news {
    padding-top: 68px;
    padding-left: 6px;

    .container-custom {
      padding-left: 69px;
      padding-right: 75px;
    }

    .swiper-wrapper {
      .swiper-slide {
        &:first-child {
          .news-details {
            width: 485px;  
          }
        }

        &:last-child {
          .news-details {
            width: 564px;
          }
        }
      }
    }

    .news-heading {
      margin-top: 5px;
      margin-bottom: 13px;
    }

    .news-thumbnail {
      width: 98%;
    }

    .swiper-slide {
      text-decoration: none;

      &:hover {
        .news-details {
          color: $purple;

          transition: color .2s ease-in;
        }
      }
    }

    .news-details {
      position: relative;
      top: -35px;
      z-index: 1;

      padding-top: 5px;
      padding-left: 16px;
      margin-bottom: 11px;
      margin-left: 26px;

      background: $light-gray;
    }
  }

  .section-responsible-tourism {
    padding-top: 322px;
    margin-top: -300px;

    background: $light-gray;

    .container-custom {
      padding-left: 15px;
      padding-right: 15px;
    }

    .tourism-title {
      position: relative;
    }
  }

  .section-sponsors {
    padding-top: 62px;
    padding-bottom: 53px;

    .txt-sponsored-by {
      &:after {
        content: '';

        position: absolute;
        top: 7px;
        left: 136px;
        right: 0;

        // width: 90%;
        height: 2px;

        background: $light-gray;
      }
    }

    .custom-row {
      display: flex;
      justify-content: space-between;

      margin-top: 21px;
      width: 100%;
    }

    .logo-usaid {
      margin-left: 6px;
    }

    .logo-usaid-description {
      max-width: 85%;
    }
  }
}

@include respond-to(lg-up) {
  .tourism-title {
    bottom: -12px;
  }
}

@include respond-to(lg) {
  .home {
    .section-features {
      padding: 80px 8px;

      .container-custom {
        padding-left: 25px;
        padding-right: 25px;    
      }
    }

    .section-about {
      .about-heading {
        font-size: 49px;
      }

      .swiper-container {
        height: 278px; 
      }

      .swiper-wrapper {
        max-width: 880px;
      }

      .swiper-slide {
        height: 198px;
        
        background-position: center;
        background-size: cover;
      }

      .swipe-about-title {
        top: 214px;
      }

      .custom-next,
      .custom-prev {
        display: none;
      }
    }

    .section-conservation {
      .container-custom {
        padding-right: 30px;
        padding-left: 30px;
      }

      .conserv-title {
        margin-top: 22px;
      }

      .wrapper {
        margin-top: 0;
        margin-left: 17px;
        width: 924px;
      }

      .gray-container {
        padding-bottom: 42px;
      }

      .form-title {
        &:after {
          width: 849px;
        }
      }

      .radios {
        &:before {
          width: 390px;
        }
      }

      .select-wrapper {
        &:after {
          top: -37px;
          left: 90%;
        }
      }

      .map {
        flex: 0 0 82%;
        margin-left: 0;

        img {
          width: 95%;
        }
      }

      .links {
        flex: 0 0 10%;
      }
    }

    .section-news {
      .swiper-wrapper {
        .swiper-slide {
          width: 75%;

          &:first-child {
            .news-details {
              width: 65%;  
            }
          }
  
          &:last-child {
            .news-details {
              width: 65%;
            }
          }
        }
      }
    }

    .section-responsible-tourism {
      .container-custom {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .section-sponsors {
      .logo-usaid-description {
        max-width: 70%;
      }
    }
  }
}

@include respond-to(md-down) {
  .home {
    .section-features {
      padding-right: 0;
      padding-left: 0;
    }

    .section-about {
      .custom-prev,
      .custom-next {
        display: none;
      }
    }

    .section-conservation {
      .gray-container {
        & > div,
        .links {
          flex: 0 0 100%;
        }
      }

      .radios {
        &:before {
          width: 100%;
        }
      }

      .guide-links {
        display: inline;
      }

      .map {
        display: none;
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
    }

    .section-news {
      .container-custom {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    .section-sponsors {
      .container-custom {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}

@include respond-to(md-up) {
  .banner-swiper {
    display: none;
  }
}

@include respond-to(md) {
  .home {
    .section-about {
      .swiper-wrapper {
        max-width: 600px;
      }

      .swiper-slide {
        height: 285px;
      }

      .swipe-about-title {
        top: 300px;
      }
    }

    .section-conservation {
      .heading-wrapper {
        top: -29px;
      }

      .wrapper {
        margin-top: 0;
        margin-left: 0;
      }

      .form-title {
        &:after {
          width: 97%;
        }
      }
    }

    .section-sponsors {
      .logo-usaid-description {
        max-width: 67%;
      }
    }
  }
}

@include respond-to(sm-down) {
  .home {
    .section-banner {
      padding-bottom: 0;
      .gray-box-container {
        display: none;
      }

      .banner-slide {
        padding: 20px 25px;
      }
    }

    .section-features {
      padding: 20px;

      background: #f2f2f2;

      .img-feature {
        margin-bottom: 10px;
      }

      .dot {
        &:after {
          display: none;
        }
      }

      .feature-desc {
        max-width: 100%;
      }
    }

    .section-conservation {
      .container-custom {
        padding-right: 15px;
        padding-left: 15px;
      }

      .radios,
      .toggle-wrapper {
        display: none;
      }

      .select-wrapper {
        margin-bottom: 15px;

        &.mobile-select {
          display: block;
        }
      }
    }

    .section-sponsors {
      .custom-row {
        flex-wrap: wrap;
      }

      .logo-usaid {
        margin-bottom: 15px;
      }

      .logo-usaid,
      .logo-usaid-description {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

@include respond-to(sm) {
  .home {
    .section-banner {
      .swiper-wrapper {
        height: 197px;
      }

      .desktop-gray-box {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
      }
    }

    .section-about {
      .swiper-wrapper {
        max-width: 330px;
      }

      .swiper-holder {
        height: 300px;
      }

      .swiper-slide {
        height: 257px;
      }

      .swipe-about-title {
        top: 267px;
      }
    }

    .section-conservation {
      .heading-wrapper {
        top: -18px;
      }

      .container-custom {
        padding-right: 10px;
        padding-left: 10px;
      }

      .wrapper {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
      }

      .form-title {
        &:after {
          width: 96%;
        }
      }

      .select-wrapper {
        &:after {
          top: 0;
          right: 30px;
        }
      }
    }

    .section-responsible-tourism {
      .tourism-title {
        bottom: -5px;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-banner {
      padding-top: 199px;

      background-size: 100% 85%;
    }

    .section-features {
      padding: 15px 15px 0;

      .container-custom {
        padding-bottom: 18px;
        padding-left: 30px;
      }

      .img-feature {
        margin-bottom: 4px;
        height: 62px;
      }

      .dot {
        margin-top: 9px;
        margin-bottom: 0;
      }

      .feature-desc {
        margin-top: 3px;
      }
    }

    .section-about {
      padding-right: 10px;
      padding-bottom: 64px;
      padding-left: 10px;
      margin-bottom: 0;

      .container-custom {
        padding-right: 0;
        padding-left: 0;
      }

      .about-heading {
        padding-top: 28px;
      }

      .swiper-wrapper {
        max-width: 230px;
        max-height: 230px;
      }

      .swiper-slide {
        height: 210px;
      }

      .swipe-about-title {
        top: 220px;
      }

      .custom-prev,
      .custom-next {
        top: 50%;

        display: block;

        background-size: 26px 26px;
      }

      .custom-prev {
        left: 4px;
      }

      .custom-next {
        right: 8px;
      }
    }

    .section-conservation {
      padding-bottom: 38px;

      .heading-wrapper {
        top: -9px;
      }

      .wrapper {
        margin-top: 28px;
        margin-right: 2%;
        margin-left: 2%;
      }

      .select-wrapper {
        margin-bottom: 38px;
        width: 100%;
        height: 46px;

        &:after {
          top: -33px;
          left: 263px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      select {
        padding-top: 2px;
        padding-bottom: 8px;
        width: 100%;

        font-size: 15px;
      }

      .gray-container {
        padding: 31px 14px 70px;
      }

      .forms {
        margin-top: 42px;
      }

      .form-title {
        &:after {
          top: 25px;

          width: 100%;
          height: 3px;
        }
      }

      .links {
        margin-left: 0;
      }

      .img-guide {
        margin-bottom: 16px;
      }
    }

    .section-news {
      padding-top: 25px;

      .container-custom {
        padding-right: 15px;
        padding-left: 7px;
      }

      .swiper-slide {
        width: 260px;
      }

      .news-details {
        top: 0;

        padding-top: 10px;
        padding-left: 0;
        margin-left: 0;
        width: 279px;
      }

      .news-title {
        margin-bottom: 0;
        max-width: 190px;
      }
    }

    .section-responsible-tourism {
      padding-top: 280px;
    }

    .section-sponsors {
      padding-top: 25px;
      padding-bottom: 45px;

      .container-custom {
        padding-left: 11px;
      }

      .txt-sponsored-by {
        &:after {
          display: none;
        }
      }

      .custom-row {
        margin-top: 5px;
      }

      .logo-usaid {
        margin-bottom: 24px;

        img {
          width: 134px;
        }
      }
    }
  }
}
