//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  color: $white;

  .container-custom {
    padding-right: 62px;
    padding-left: 63px;
    max-width: 100%;
  }

  .right-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    min-width: 499px;

    li {
      display: inline;

      list-style-type: none;
    }
  }


  nav {
    background: $purple;
  }

  .navbar {
    height: 50px;

    &.on-scroll {
      .navbar-brand {
        top: -4px;

        padding-top: 50px;
        width: 180px;

        transition: all .3s ease-in-out;
      }
    }
  }

  .navbar-brand {
    position: relative;

    padding: 0;
    padding-top: 80px;
    width: 240px;

    transition: width .3s ease-in-out;
  }

  .lmt-logo {
    z-index: 1;

    padding-bottom: 0;

    box-shadow: 0 11px 7px 0 rgba(0,0,0,.07);
  }

  .nav-buttons {
    display: flex;
  }

  .border-btm {
    padding-bottom: 3px;
    margin-top: 6px;

    font-size: 12px;

    border-bottom: 1px solid rgb(169,116,196);

    &:hover {
      text-decoration: none;

      border-bottom: 1px solid $yellow;
    }

    .btn-nav {
      padding-right: 5px;
      padding-left: 5px;

      font-size: 17px;
    }

    a,
    span {
      &:hover {
        color: $yellow;
        text-decoration: none;
      }
    }
  }

  .btn-link-nav {
    .btn-nav {
      &:after {
        content: '';

        position: absolute;

        width: 1px;
        height: 26px;

        background-color: rgb(169,116,196);

        pointer-events: none;
        transform: translate(-35px, -3px);
      }
    }
  }

  .border-btm,
  .btn-nav {
    &:hover {
      color: $yellow;
    }
  }
}

@include respond-to(lg) {
  header {
    .container-custom {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

@include respond-to(md-down) {
  header {
    .container-custom {
      padding-right: 10px;
      padding-left: 10px;
    }

    .navbar {
      &.on-scroll {
        .navbar-brand {
          top: -10px;

          width: 180px;
        }
      }
    }

    .social-media {
      display: none;
    }

    .right-list {
      .border-btm {
        display:  none;
      }
    }

    .nav-buttons {
      width: 100%;
    }

    .btn-link-nav {
      .btn-nav {
        &:after {
          display: none;
        }
      }
    }
  }
}

@include respond-to(md) {
  header {
    .navbar-brand {
      top: -11px;
    }
  }
}

@include respond-to(sm) {
  header {
    .container-custom {
      position: relative;
      top: -15px;
    }

    .navbar-brand {
      top: 42px;

      padding-top: 0;
      width: 190px;
    }

  .navbar {
    &.on-scroll {
      .navbar-brand {
        top: 10px;

        width: 160px;
      }
    }
  }

    .nav-buttons {
      margin-top: 28px;
    }

    .right-list {
      margin-left: auto;
      min-width: 325px;
    }
  }
}

@include respond-to(sm-down) {
  header {
    .lmt-logo {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

@include respond-to(xs) {
  header {
  .navbar-brand {
      top: -7px;

      padding-top: 0;
      width: 150px;
    }

  .navbar {
    &.on-scroll {
      .navbar-brand {
        top: -57px;

        width: 135px;
      }

      .nav-buttons {
        margin-top: -121px;
      }
    }
  }

    .nav-buttons {
      margin-top: -78px;
      margin-left: auto;
      width: 55%;
    }

    .right-list {
      margin-left: auto;
      min-width: 100%;
    }

    .btn-link-nav {
      flex: 0 0 35px;
    }
  }
}
