//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  color: $white;

  .container-custom {
    padding-right: 62px;
    padding-left: 57px;
    max-width: 100%;
  }

  nav {
    background: $purple;
  }

  .navbar {
    height: 55px;

    &.on-scroll {
      .navbar-brand {
        top: -5px;

        width: 180px;
      }
    }
  }

  .navbar-brand {
    position: relative;
    top: 7px;
    
    width: 240px;
    padding: 0;
  
    transition: all .3s ease-in-out;
  }

  .lmt-logo {
    z-index: 1;

    padding-top: 55px;
    padding-bottom: 0;

    box-shadow: 0 11px 7px 0 rgba(0,0,0,.07);
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    min-width: 202px;
  }

  .something {
    margin-right: 25px;
  }

  .border-btm {
    padding-bottom: 3px;
    margin-top: 6px;
    margin-right: 10px;

    font-size: 12px;

    border-bottom: 1px solid $white;

    &:hover {
      border-bottom: 1px solid yellow;

      text-decoration: none;
    }

    .btn-nav {
      padding-right: 5px;
      padding-left: 5px;

      font-size: 17px;
    }
  }

  .btn-link-nav {
    .btn-nav {
      &:after {
        content: '';
        position: absolute;

        width: 1px;
        height: 26px;

        transform: translate(-35px, -3px);

        background-color: #fff;
        
        pointer-events: none;
      }
    }
  }

  .border-btm,
  .btn-nav {
    &:hover {
      color: yellow;
    }
  }
}

@include respond-to(lg) {
  header {
    .container-custom {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

@include respond-to(md-down) {
  header {
    .container-custom {
      padding-right: 10px;
      padding-left: 10px;
    }

    .social-media,
    .something {
      display: none;
    }

    // .nav-buttons {
    //   margin-left: auto;
    // }

    .btn-link-nav {
      .btn-nav {
        &:after {
          display: none;
        }
      }
    }
  }
}

@include respond-to(sm-down) {
  header {
    .navbar {
      // height: 55px;
  
      &.on-scroll {
        .navbar-brand {
          top: 15px;
  
          width: 150px;
        }
      }
    }
  }
}

@include respond-to(sm) {
  header {
    .container-custom {
      position: relative;
      top: -15px;
    }

    .navbar-brand {
      top: 41px;
      
      // width: 200px;  
    }

    .lmt-logo {
      padding-top: 0;
      margin-top: -2px;
      width: 180px;
    }

    .nav-buttons {
      margin-top: 28px;
      margin-left: auto;
    }
  }
}

@include respond-to(xs) {
  header {
    .navbar {
      height: 37px;
    }

    .lmt-logo {
      padding-top: 0;
      width: 55%;
    }

    .navbar-brand {
      padding-top: 0;
      margin-top: -15px;
    }

    .nav-buttons {
      justify-content: flex-end;
      margin-top: -62px;
      // width: 50px;
    }

    .btn-link-nav {
      flex: 0 0 35px;
    }
  }
}