//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  background: $yellow;
  border: none;
  border-radius: 0;

  &:hover {
    background: $purple;
  }
}

.btn-toggle {
  flex: 0 0 47.8%;
  padding: 7px;
  margin-right: 8px;
  margin-bottom: 5px;

  font-size: 16px;

  background: transparent;
  border: 1px solid $white;

  cursor: pointer;

  &:hover {
    color: $text-color;

    background: $white;

    transition: background .5s ease-in;
  }

  &.toggled {
    color: $text-color;

    background: $white;
  }
}

.btn-section {
  padding: 10px;
  margin-top: 11px;
  width: 429px;
}

.footer-btn {
  &:hover {
    color: $yellow;

    background: $text-color;
  }
}

@include respond-to(lg-up) {
  .home {
    .section-about {
      .btn-about {
        padding: 9px 30px;
        margin-top: 40px;
        margin-bottom: 55px;
      }
    }
  }
}

@include respond-to(lg) {
  .btn-section {
    width: 398px;
  }
}

@include respond-to(md-down) {
  .btn-section {
    width: 100%;
  }

  .btn-about {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@include respond-to(xs) {
  .home {
    .section-about {
      .btn-about {
        padding: 8px 19px;
        margin-top: 20px;
        margin-bottom: 21px;
      }
    }

    .section-conservation {
      .btn-section {
        margin-top: 3px;
      }
    }
  }
}