//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  background: $yellow;
  border: none;
  border-radius: 0;

  &:hover {
    background: $purple;
  }
}

.btn-toggle {
  flex: 0 0 49.5%;
  padding: 7px;
  margin-bottom: 5px;

  background: transparent;
  border: 1px solid $white;

  &:hover {
    color: $text-color;

    background: $white;

    transition: background .5s ease-in;
  }
}

.btn-section {
  padding: 10px;
  margin-top: 9px;
  width: 429px;
}

.footer-btn {
  &:hover {
    color: $yellow;

    background: black;
  }
}

@include respond-to(lg) {
  .btn-section {
    width: 398px;
  }
}

@include respond-to(md-down) {
  .btn-section {
    width: 100%;
  }
}