//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.txt-purple {
  color: $purple;
}

.txt-white {
  color: $white;
}

.txt-yellow {
  color: $yellow;
}

a.txt-purple,
.btn-section {
  &:hover {
    color: $yellow;
  }
}

.btn {
  font-family: $Lato-Regular;
  font-weight: bold;
}

.btn-toggle {
  font-family: $Lato-Regular;
  font-size: 16px;
}

.home {
  .desktop-gray-box {
    margin-left: 65px;

    font-family: $Lato-Light;
    font-weight: bolder;

    h1 {
      font-size: 35px;
    }
  }

  .banner-slide {
    h5 {
      font-family: $Lato-Regular;
      font-size: 18px;
      text-align: left;
      color: $white;
    }
  }

  .section-features {
    .feature {
      font-family: $Lato-Bold;

      p {
        font-family: $Lato-Regular;
      }
    }
  }

  .section-about {
    .about-heading {
      font-family: $Lato-Light;
      font-size: 55px;
    }

    .swipe-about-title {
      font-family: $Lato-Black;
      font-size: 16px;
    }
  }

  .section-conservation {
    font-family: $Lato-Black;
    color: $white;

    .conserv-title {
      font-size: 11vw;
      letter-spacing: 0.45vw;
    }

    .form-title {
      font-size: 35px;
    }

    .form {
      .form-label {
        font-size: 16px;
      }
    }

    label {
      font-family: $Lato-Light;
      font-size: 14px;
    }

    select {
      font-family: $Lato-Regular;
      font-size: 18px;

      option {
        color: $text-color;
      }
    }

    .btn-section {
      font-weight: bold;
    }

    .guide-links {
      &:hover {
        color: $yellow;
        text-decoration: none;

        transition: all .5s ease-in-out;
      }
    }
  }

  .section-news {
    .news-heading {
      font-family: $Lato-Black;
      font-size: 37px;
    }

    .news-details {
      color: $text-color;
    }

    .news-title {
      margin-bottom: 10px;

      font-family: $Lato-Bold;
      font-size: 53px;
      line-height: 1;
    }

    .news-caption {
      font-family: $Lato-Regular;
      line-height: 1.6;
    }
  }

  .section-responsible-tourism {
    font-family: $Lato-Black;
    color: $white;

    .tourism-title {
      font-size: 7.6vw;
      // font-size: 5.6vw;
      white-space: nowrap;
      line-height: 1;
      letter-spacing: 4.5px;
    }
  }

  .section-sponsors {
    .txt-sponsored-by {
      font-family: $Lato-Bold;
      font-size: 14px;
    }

    .logo-usaid-description {
      font-family: $Lato-Regular;
      font-size: 14px;
    }
  }
}

footer {
  .section-footer {
    .footer-top {
      font-family: $Lato-Regular;
      font-size: 13px;
      color: $white;

      .footer-links {
        li {
          &:hover {
            a {
              color: $yellow;
              text-decoration: none;
            }
          }
        }
      }
    }

    .footer-bottom {
      h6 {
        font-family: $Lato-Regular;
        font-size: 14px;
        color: $white;
      }

      span {
        font-family: $Lato-Light;
        font-size: 14px;
        color: $white;
      }
    }

    .footer-form {
      h4,
      span,
      .download-link,
      P {
        font-family: $Lato-Regular;
        font-size: 14px;  
      }

      h4,
      span {
        color: $white;
      }

      .download-link {
        font-size: 12.5px;
        color: $yellow;
      }
    }

    .copyright {
      span {
        font-family: $Lato-Light;
        font-size: 14px;
        color: $white;
      }
    }

    .percentage {
      color: $white;
    }
  }
}

@include respond-to(lg-up) {
  .home {
    .section-features {
      p {
        font-size: 16px;
      }
    }
  }
}

@include respond-to(lg) {
  .home {
    .section-news {
      .news-title {
        font-size: 35px;
      }

      .news-caption {
        font-size: 14px;
      }
    }
  }
}

// @include respond-to(lg-down) {
//   .home {
//     .section-conservation {
//       .form {
//         .form-label {
//           font-size: 16px;
//         }
//       }
//     }
//   }
// }

@include respond-to(md) {
  .home {
    .section-conservation {
      .guide-links {
        font-size: 13px;
      }
    }
  }
}

@include respond-to(md-down) {
  .home {
    .section-about {
      .about-heading {
        font-size: 42px;
      }
    }
  }

  footer {
    .footer-content {
      .copyright-tablet {
        h5 {
          font-family: $Lato-Regular;
          font-size: 14px;
          color: $white;
        }
      }
    }
  }
}

@include respond-to(sm-down) {
  .home {
    .section-about {
      .about-heading {
        font-size: 25px;
      }
    }

    .section-conservation {
      .form-title {
        font-family: $Lato-Regular;
        font-size: 22px;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-banner {
      .banner-slide {
        h5 {
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }

    .section-features {
      .feature-desc {
        font-size: 14px;
      }
    }

    .section-about {
      .about-heading {
        font-size: 20px;
      }

      .btn-about {
        font-size: 13px;
      }

      .swipe-about-title {
        font-size: 14px;
        text-align: center !important;
      }
    }

    .section-conservation {
      .conserv-title {
        letter-spacing: 1.45vw;
      }

      .form-title {
        font-size: 16px;
      }

      .form-label {
        font-size: 12px;
      }
    }

    .section-news {
      .news-title {
        line-height: 0.85;
      }

      .news-caption {
        font-size: 16px;
      }
    }

    .section-responsible-tourism {
      .tourism-title {
        bottom: -3px;

        font-size: 7vw;
        letter-spacing: 2.5px;
      }
    }

    .section-news {
      .news-heading {
        font-size: 27px;
      }

      .news-title {
        font-size: 22px;
      }
    }
  }

  footer {
    .footer-form {
      .form-contact {
        h4 {
          max-width: 231px;

          font-size: 12.5px;
        }
      }
    }

    .footer-content {
      .copyright-tablet {
        h5 {
          font-size: 12px;
        }
      }
    }
  }
}
