//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

.txt-purple {
  color: $purple;
}

.txt-white {
  color: $white;
}

.txt-yellow {
  color: $yellow;
}

a.txt-purple,
.btn-section {
  &:hover {
    color: $yellow;
  }
}

.btn {
  font-family: $Lato-Regular;
  font-weight: bold;
}

.home {
  .section-conservation {
    font-family: $Lato-Black;
    color: $white;
  }

  .section-news {
    .news-heading {
      font-family: $Lato-Black;
      font-size: 37px;
    }

    .news-details {
      color: $text-color;
    }

    .news-title {
      font-family: $Lato-Bold;
    }

    .news-caption {
      font-family: $Lato-Regular;
      line-height: 1.6;
    }
  }

  .section-responsible-tourism {
    font-family: $Lato-Black;
    color: $white;
  }
}